<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<playerCards th:fragment="dealerCards">
    <td th:switch="${dealerCard}">
        <span th:case="'AH'"><img th:src="@{/images/AH.png}" /></span>
        <span th:case="'AC'"><img th:src="@{/images/AC.png}" /></span>
        <span th:case="'AD'"><img th:src="@{/images/AD.png}" /></span>
        <span th:case="'AS'"><img th:src="@{/images/AS.png}" /></span>
        <span th:case="'2H'"><img th:src="@{/images/2H.png}" /></span>
        <span th:case="'2C'"><img th:src="@{/images/2C.png}" /></span>
        <span th:case="'2D'"><img th:src="@{/images/2D.png}" /></span>
        <span th:case="'2S'"><img th:src="@{/images/2S.png}" /></span>
        <span th:case="'3H'"><img th:src="@{/images/3H.png}" /></span>
        <span th:case="'3C'"><img th:src="@{/images/3C.png}" /></span>
        <span th:case="'3D'"><img th:src="@{/images/3D.png}" /></span>
        <span th:case="'3S'"><img th:src="@{/images/3S.png}" /></span>
        <span th:case="'4H'"><img th:src="@{/images/4H.png}" /></span>
        <span th:case="'4C'"><img th:src="@{/images/4C.png}" /></span>
        <span th:case="'4D'"><img th:src="@{/images/4D.png}" /></span>
        <span th:case="'4S'"><img th:src="@{/images/4S.png}" /></span>
        <span th:case="'5H'"><img th:src="@{/images/5H.png}" /></span>
        <span th:case="'5C'"><img th:src="@{/images/5C.png}" /></span>
        <span th:case="'5D'"><img th:src="@{/images/5D.png}" /></span>
        <span th:case="'5S'"><img th:src="@{/images/5S.png}" /></span>
        <span th:case="'6H'"><img th:src="@{/images/6H.png}" /></span>
        <span th:case="'6C'"><img th:src="@{/images/6C.png}" /></span>
        <span th:case="'6D'"><img th:src="@{/images/6D.png}" /></span>
        <span th:case="'6S'"><img th:src="@{/images/6S.png}" /></span>
        <span th:case="'7H'"><img th:src="@{/images/7H.png}" /></span>
        <span th:case="'7C'"><img th:src="@{/images/7C.png}" /></span>
        <span th:case="'7D'"><img th:src="@{/images/7D.png}" /></span>
        <span th:case="'7S'"><img th:src="@{/images/7S.png}" /></span>
        <span th:case="'8H'"><img th:src="@{/images/8H.png}" /></span>
        <span th:case="'8C'"><img th:src="@{/images/8C.png}" /></span>
        <span th:case="'8D'"><img th:src="@{/images/8D.png}" /></span>
        <span th:case="'8S'"><img th:src="@{/images/8S.png}" /></span>
        <span th:case="'9H'"><img th:src="@{/images/9H.png}" /></span>
        <span th:case="'9C'"><img th:src="@{/images/9C.png}" /></span>
        <span th:case="'9D'"><img th:src="@{/images/9D.png}" /></span>
        <span th:case="'9S'"><img th:src="@{/images/9S.png}" /></span>
        <span th:case="'10H'"><img th:src="@{/images/10H.png}" /></span>
        <span th:case="'10C'"><img th:src="@{/images/10C.png}" /></span>
        <span th:case="'10D'"><img th:src="@{/images/10D.png}" /></span>
        <span th:case="'10S'"><img th:src="@{/images/10S.png}" /></span>
        <span th:case="'JH'"><img th:src="@{/images/JH.png}" /></span>
        <span th:case="'JC'"><img th:src="@{/images/JC.png}" /></span>
        <span th:case="'JD'"><img th:src="@{/images/JD.png}" /></span>
        <span th:case="'JS'"><img th:src="@{/images/JS.png}" /></span>
        <span th:case="'QH'"><img th:src="@{/images/QH.png}" /></span>
        <span th:case="'QC'"><img th:src="@{/images/QC.png}" /></span>
        <span th:case="'QD'"><img th:src="@{/images/QD.png}" /></span>
        <span th:case="'QS'"><img th:src="@{/images/QS.png}" /></span>
        <span th:case="'KH'"><img th:src="@{/images/KH.png}" /></span>
        <span th:case="'KC'"><img th:src="@{/images/KC.png}" /></span>
        <span th:case="'KD'"><img th:src="@{/images/KD.png}" /></span>
        <span th:case="'KS'"><img th:src="@{/images/KS.png}" /></span>
    </td>
</playerCards>

</body>
</html>